<header class="site-header">
  <div class="container header-inner">
    <div class="logo">
      <a href="{{ partial "safe-url.html" (dict "path" "/" "kind" "url") }}">{{ .Site.Params.logoText }}</a>
    </div>
    <nav class="main-nav">
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if not .HasChildren }}
            {{ if not .Parent }}
              <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ partial "safe-url.html" (dict "path" .URL "kind" "url") }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ else }}
            <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
              <a href="{{ partial "safe-url.html" (dict "path" .URL "kind" "url") }}" class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
              <ul class="dropdown-menu">
                {{ range .Children }}
                  <li><a href="{{ partial "safe-url.html" (dict "path" .URL "kind" "url") }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
